<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form id="urlForm">
        <label for="long_url">Enter Long URL:</label>
        <input type="text" id="long_url" name="long_url" required>
        <button type="button" onclick="shortenUrl()">Shorten URL</button>
    </form>
    <p id="short_url"></p>

    <script>
        function shortenUrl() {
            var longUrl = document.getElementById('long_url').value;

            fetch('/shorten', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'long_url=' + encodeURIComponent(longUrl),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('short_url').innerText = 'Shortened URL: /' + data.short_url;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
